.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.posts-container {
  margin-top: 1px;
}

