.title {
 display: flex;
 padding-top: 30px;
 margin-top: 30px;
 font-size: 4vh;
 margin-bottom: 5px;
 align-items: center;
 justify-content: center;
}

.form-inputs {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

form {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 align-content: center;
 align-items: center;
}

input {
 display: flex;
 flex-direction: column;
 width: 60vh;
 height: 6vh;
 border: none;
 border-bottom: 1px solid black;
 margin: 10px 0px;
 font-size: 1.2vw;
 padding-left: 10px;
}

button {
 border: none;
 padding: 2vh;
 color: black;
 font-weight: 500;
 cursor: pointer;
 width: 50%;
}

a {
 text-decoration: none;
 color: black;
}


body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}