a {
  text-decoration: none;
  color: black;
}

.nav {
  height: 10vh;
  width: 90%;
  margin: 5px 5px;
  padding: 0px 10px 10px 10px;
  display: flex-row;
  margin-bottom: 5px;
}

.nav-title {
  flex: 1;
  font-weight: bold;
  font-size: 4vh;
}

.nav-links {
  flex: 1;
}

.nav-links-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  font-size: 4vh;
}
